*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    margin: 20vh auto;
    
    position: relative;
   
}
#send{
    display: flex;
    padding-top: 3px;
    width: 100px;
   margin-left: 55%;
    height: 25px;
    justify-content: center;
    justify-content: center;
    background-color:  rgb(121, 28, 209);
    color: white;
    border-radius: 10px;
    border: none;
}
.container input{
  outline: none;
  border: none;
  
    height: 38px;
  border-bottom: 5px   rgb(121, 28, 209) solid;
  background-color: transparent;
 

}

.information{
    display: flex;
    flex-direction: column;
    gap: 40px;
   width: 80%;
margin: 60px auto;


}
#form{
    position: relative;
    width: 30%;
    height: 400px;
    box-shadow: 0 0 7px 2px black;
    margin: 30px auto;
    filter: blur(4px);
    opacity: 0.1;
    border-radius: 30px;
    padding-top: 5px;
}
#btn{
    position: absolute;
    border: none;
    border-radius: 10px;
    left: 40%;
    top: 30%;
    z-index: 1;
    width: 200px;
    height: 50px;
    background-color: rgb(121, 28, 209);
    color: white;
    font-size: 30px;
    font-weight: 300;
}